@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 200;
  background-color: rgb(203, 219, 243);
}

.smooth-entry {
  animation-name: entry;
  animation-duration: 0.25s;
  /* content: "tarun's project" */
}

@keyframes entry {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  15% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.25;
  }

  35% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}